@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: #21c4b6;
}

.main {
  @apply font-nunito;
}

.custom-shadow {
  transition: all 0.3s ease;
}

code {
  font-family: "Fira Code", monospace;
}

.code-main {
  font-family: "Fira Code", monospace;
}

.custom-shadow:hover {
  transform: translate(6px, -6px);
  box-shadow: -10px 10px #2a4494;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translate(6px, -6px);
  box-shadow: -8px 8px white;
}

.cursor {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
